body {
    text-align: center;
    background-color: rgb(249, 249, 249);
}

.container {
    border-style: solid;
    background-color: rgb(241, 219, 242);
    display: grid;

}
h1 {
    color: #0f0f0f;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 4px #c799cf;

}

h3 {
    color: #070707;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}

.outcome {
    background-color: white; /* Background color for the "screen" */
    color: black; /* text color */
    padding: 20px; /* Padding inside the "screen" */
    margin: 20px auto; /* Margin for separation */
    width: 400px;
    border: 1px solid black; /* Border for the "screen" */
    border-radius: 10px; /* Rounded corners for the "screen" */
    text-align: center; /* Center-align the text inside the "screen" */
  }
  
